# Local Privates
force_rebuild_with_run.sh
force_rebuild_with_vga_run.sh
# Claude Helpers
.claude
.cache
REQUEST.md
# 构建目录
build/
iso/

# QEMU 日志
serial.log

# 编译器生成的文件
*.o
*.bin
*.img
*.iso

# 编辑器临时文件
*~
*.swp
*.swo
.idea/

# 调试文件
*.debug
